.hero {
  color: #fff;
  min-height: 100vh;
  background-image: url(../../img/hero/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-content {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.abc123{
  height: 793px;
  display: flex;
  align-items: center;
  text-shadow: 0 5px 40px;
}